.gallery {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-template-areas: "pic1 pic1 pic2 pic4"
        "pic1 pic1 pic3 pic5";
    gap: 10px;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

.gallery__item--pic1 {
    grid-area: pic1;
}

.gallery__item--pic2 {
    grid-area: pic2;
}

.gallery__item--pic3 {
    grid-area: pic3;
}

.gallery__item--pic4 {
    grid-area: pic4;
}

.gallery__item--pic5 {
    grid-area: pic5;
}


.gallery__item {
    position: relative;
}

.gallery__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery__item:hover::after {
    background: url(/images/zoom.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}