@import 'reset';
@import 'fonts';
@import 'variables';
@import 'gallery';

// body {
//     background: gray;
// }

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.hero {

    .slick-prev,
    .slick-arrow,
    .slick-next {
        display: none !important;
    }

    margin-bottom: 80px;

    &_background-item1 {
        background: url(../images/background-2.jpg),
            url(../images/background.jpg);
        background-blend-mode: color-burn;
        height: 800px;
    }

    &_background-item2 {
        background: url(../images/background-2.jpg),
            rgb(99, 29, 29);
        background-blend-mode: color-burn;
        height: 800px;
    }

    &_background-item3 {
        background: url(../images/background-2.jpg), rgb(31, 100, 31);
        height: 800px;
        background-blend-mode: color-burn;
    }

    &_background-item4 {
        background: url(../images/background-2.jpg), rgb(88, 83, 83);
        height: 800px;
        background-blend-mode: color-burn;
    }

    .nav {
        padding-top: 53px;
        display: flex;
        justify-content: space-between;

        &_center {
            &-list {
                display: flex;
                gap: 70px;

                &--item {
                    padding: 18px 0;

                    >a {
                        font-family: 'Source Sans Pro',
                            sans-serif;
                        margin-left: 15px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #FFFFFF;
                    }

                    >a:hover {
                        transition: 0.3s;
                        font: bold;
                        color: #a39898;
                    }
                }

                &--item::before {
                    padding-right: 16px;
                    content: '';
                    border-radius: 50%;
                    border: 1px solid #FFFFFF;
                }

                &--item:hover:before {
                    transition: 0.3s;
                    content: '';
                    background: #FFFFFF;
                    cursor: pointer;
                }
            }
        }

        &_right {
            &-list {
                display: flex;
                gap: 20px;

                &--item {
                    a>svg:hover {
                        transition: 0.3s;
                        fill: #a39898;
                    }
                }
            }
        }
    }

    &_content {
        margin-top: 215px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);


        .hero_title {
            padding-left: 140px;
            font-family: 'Montserrat',
                sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 98px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            margin-bottom: 20px;

            @media screen and (max-width: 1600px) {
                padding-left: 140px;
            }

        }


        .hero_subTitle {
            font-family: 'Montserrat',
                sans-serif;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.3em;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slick-dots {
        position: absolute;
        top: 35%;
        right: 52px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        #slick-slide-control00 {
            border: none;
            padding: 5px;
            border-radius: 50%;
            font: none;
            font-size: 0 !important;
            background: white;
            cursor: pointer;
        }

        #slick-slide-control01 {
            border: none;
            padding: 5px;
            border-radius: 50%;
            font: none;
            font-size: 0 !important;
            background: white;
            cursor: pointer;
        }

        #slick-slide-control02 {
            border: none;
            padding: 5px;
            border-radius: 50%;
            font: none;
            font-size: 0 !important;
            background: white;
            cursor: pointer;
        }

        #slick-slide-control03 {
            border: none;
            padding: 5px;
            border-radius: 50%;
            font: none;
            font-size: 0 !important;
            background: white;
            cursor: pointer;
        }

        #slick-slide-control04 {
            border: none;
            padding: 5px;
            border-radius: 50%;
            font: none;
            font-size: 0 !important;
            background: white;
            cursor: pointer;
        }
    }

    .nav_arrow {
        margin-top: 240px;
        display: flex;
        justify-content: center;
        animation: down 1.2s infinite;

        button {
            background: none;
            border: none;
            cursor: pointer;
        }

        @keyframes down {
            0% {
                transform: translate(0);
            }

            20% {
                transform: translateY(15px);
            }

            40% {
                transform: translate(0);
            }
        }
    }
}

.section_two {
    margin-bottom: 140px;

    .line {
        display: block;
        width: 100px;
        height: 0px;
        margin: 0 auto;
        border: 1px solid #2C4058;
        margin-bottom: 30px;
    }

    &-title {
        font-family: 'Montserrat',
            sans-serif;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #2C4058;
        margin-bottom: 90px;
    }

    .section_two-postFirst {
        display: flex;
        max-height: 750px;
        padding-bottom: 20px;

        .postFirst_background {
            position: relative;
            width: 585px;
            height: 470px;
            left: -30%;
            background: #55B7FF;

            @media screen and (max-width: 1525px) {
                left: -22%;
            }

            @media screen and (max-width: 1440px) {
                left: -15%;
            }

            @media screen and (max-width: 1400px) {
                left: -9%;
            }

            @media screen and (max-width: 1366px) {
                left: 10%;
            }
        }

        .postFirst-img1 {
            width: 630px;
            height: 430px;
            display: block;
            position: relative;
            top: -45%;
            z-index: 1;
            left: 0%;

            @media screen and (max-width: 1400px) {
                left: -6%;
            }

            @media screen and (max-width: 1366px) {
                left: -5%;
            }
        }

        .section_two-postFirst--content {
            padding-top: 10%;
            position: relative;
            right: -5%;

            .postFirst--content_subTitle {
                font-family: 'Montserrat',
                    sans-serif;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                color: #2C4058;
            }

            .postFirst--content_title {
                font-family: 'Montserrat',
                    sans-serif;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                color: #2C4058;
                margin-bottom: 19px;
            }

            .postFirst--content_description {
                max-width: 470px;
                font-family: 'Open Sans',
                    sans-serif;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #2C4058;
                margin-bottom: 40px;
            }

            .postFirst-btn {
                background: none;
                width: 190px;
                height: 50px;
                left: 915px;
                top: 1445px;
                border: 1px solid #2C4058;
                font-family: 'Montserrat',
                    sans-serif;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin-bottom: 60px;
                cursor: pointer;
            }

            .postFirst-btn:hover {
                transition: 0.3s;
                color: #FFFFFF;
                background: #2C4058;
            }

            .postFirst-address {
                font-family: 'Open Sans',
                    sans-serif;
                display: block;

                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    .section_two-postSecond {
        max-height: 680px;
        display: flex;
        margin-bottom: 120px;

        .postSecond_background {
            position: relative;
            width: 585px;
            height: 470px;
            left: 121%;
            background: #7E5AFF;

            @media screen and (max-width: 1525px) {
                left: 115%;
            }

            @media screen and (max-width: 1450px) {
                left: 110%;
            }

            @media screen and (max-width: 1400px) {
                left: 100%;
            }

            @media screen and (max-width: 1366px) {
                left: 80%;
            }
        }

        .postSecond-img1 {
            width: 630px;
            height: 430px;
            display: block;
            position: relative;
            top: -40%;
            z-index: 1;
            left: 90%;

        }

        .section_two-postSecond--content {
            padding-top: 10%;
            position: relative;
            right: 54%;

            .postSecond--content_subTitle {
                font-family: 'Montserrat',
                    sans-serif;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                color: #2C4058;
            }

            .postSecond--content_title {
                font-family: 'Montserrat',
                    sans-serif;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                color: #2C4058;
                margin-bottom: 19px;
            }

            .postSecond--content_description {
                max-width: 470px;
                font-family: 'Open Sans',
                    sans-serif;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #2C4058;
                margin-bottom: 40px;
            }

            .postSecond-btn {
                background: none;
                width: 190px;
                height: 50px;
                left: 915px;
                top: 1445px;
                border: 1px solid #2C4058;
                font-family: 'Montserrat',
                    sans-serif;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin-bottom: 60px;
                cursor: pointer;
            }

            .postSecond-btn:hover {
                transition: 0.3s;
                color: #FFFFFF;
                background: #2C4058;
            }

            .postSecond-address {
                font-family: 'Open Sans',
                    sans-serif;
                display: block;

                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}

.section_three {
    background: url(../images/background-4.jpg), url(../images/background-5.jpg);
    background-position: right;
    // height: 870px;
    padding-top: 120px;

    &-line {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 0px;
        border: 1px solid #FFFFFF;
        margin-bottom: 30px;
    }

    &-title {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat',
            sans-serif;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 90px;
    }

    .carousel-list {
        display: flex;
        // gap: 20px;

        .slick-prev {
            border: none;
            width: 95px;
            height: 40px;
            font-size: 0;
            padding: 12px;
            border-radius: 50%;
            cursor: pointer;
            background: url(../images/left.svg);
            position: relative;
            top: 250px;
            left: -60px;

            @media screen and (max-width: 1280px) {
                left: -50px;
            }
        }

        .slick-next {
            border: none;
            width: 95px;
            height: 40px;
            font-size: 0;
            padding: 12px;
            border-radius: 50%;
            cursor: pointer;
            background: url(../images/right.svg);
            position: relative;
            top: 250px;
            left: 60px;

            @media screen and (max-width: 1280px) {
                left: 50px;
            }
        }

        &-item {
            min-height: 570px;
            max-width: 370px;
            background: #FFFFFF;
            margin-right: 20px;
            margin-bottom: 170px;

            &--container {
                >img {
                    display: block;
                    width: 344px;
                    height: 250px;
                }
            }

            .slider-container {
                max-width: 330px;
                width: 100%;
                padding: 0 20px 0;
            }

            &--name {
                font-family: 'Montserrat',
                    sans-serif;
                padding: 30px 0px 15px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #2C4058;
            }

            &--desc {
                font-family: 'Open Sans',
                    sans-serif;
                padding: 0px 0px 46px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #2C4058;
            }

            .author {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 0px 0px 38px;

                >img {
                    border-radius: 50%;
                }

                &_name {
                    font-family: 'Montserrat',
                        sans-serif;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2C4058;
                    margin-bottom: 6px;
                }

                &_data {
                    font-family: 'Montserrat',
                        sans-serif;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #55B7FF;
                }
            }
        }

    }
}

.section_four {
    &-line {
        display: block;
        margin: 0 auto;
        margin-top: 150px;
        width: 100px;
        height: 0px;
        border: 1px solid #2C4058;
        margin-bottom: 30px;
    }

    &-title {
        margin: 0 auto;
        font-family: 'Montserrat',
            sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #2C4058;
        margin-bottom: 90px;
    }

    .gallery {
        &_button {
            display: block;
            font-family: 'Montserrat',
                sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
            width: 190px;
            height: 50px;
            border: 1px solid #2C4058;
            background: none;
            margin: 0 auto;
            margin-bottom: 150px;
            cursor: pointer;
        }

        &_button:hover {
            transition: 0.3s;
            color: #FFFFFF;
            background: #2C4058;
        }
    }

}

.button {
    border: none;
    background: none;
}

.section_four {
    position: relative;

    #map {
        height: 700px;
    }

    .contact_form {
        position: absolute;
        width: 770px;
        height: 450px;
        left: 30%;
        top: 50%;
        background: #FFFFFF;
        background: url(../images/form-city.jpg);
        background-position-y: initial;
        // background-repeat: no-repeat;


        &-line {
            margin: 0 auto;
            display: block;
            margin-top: 60px;
            width: 100px;
            height: 0px;
            border: 1px solid #2C4058;
        }

        &-title {
            margin: 30px 0px 42px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            text-align: center;
            color: #2C4058;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin-bottom: 60px;

            &--left {
                max-width: 286px;
                margin-left: 60px;
                display: flex;
                gap: 30px;
                flex-direction: column;

                span {
                    display: flex;
                    align-items: center;
                }

                span>svg {
                    margin-right: 10px;
                }

                .address {
                    font-family: 'Source Sans Pro',
                        sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }

                .tel {
                    font-family: 'Source Sans Pro',
                        sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }

                .email {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }

                .time {
                    font-family: 'Source Sans Pro',
                        sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }
            }

            &--right {
                margin-right: 60px;
                width: 310px;

                .input_fullName {

                    width: 310px;
                    background: none;
                    border: none;
                    padding: 10px;
                    border-bottom: 1px solid #4B5562;
                    font-family: 'Montserrat',
                        sans-serif;
                    font-style: normal;
                    font-size: 18px;
                    letter-spacing: 0.1em;
                    margin-bottom: 30px;
                }

                .input_fullName:active,
                :hover,
                :focus {
                    outline: 0;
                    outline-offset: 0;
                }

                .input_email {
                    width: 310px;
                    background: none;
                    border: none;
                    padding: 10px;
                    border-bottom: 1px solid #4B5562;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-size: 18px;
                    letter-spacing: 0.1em;
                    margin-bottom: 30px;
                }

                .input_email {

                    :hover,
                    :focus {
                        outline: 0;
                        outline-offset: 0;
                    }
                }

                .form_btn {
                    padding: 15px;
                    background: none;
                    width: 140px;
                    border: 1px solid #2C4058;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 17px;
                    color: #000000;
                    cursor: pointer;
                }

                .btn_position {
                    display: flex;
                    justify-content: flex-end;
                }

                .form_btn:hover {
                    transition: 0.3s;
                    color: #FFFFFF;
                    background: #2C4058;
                }
            }
        }
    }
}

.footer {
    height: 549px;
    background:
        url(../images/footer-1.jpg),
        linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    background-blend-mode: color-burn;
    background-position: right;

    &_container {
        position: relative;
        max-width: 770px;
        margin: 0 auto;
        top: 30%;
    }

    &_content {
        display: flex;
        justify-content: space-between;


        .content_left {
            &-logo {
                margin-bottom: 41px;
            }

            &-rights {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;

            }
        }

        .content_right {
            .footer_list {
                display: flex;
                gap: 20px;

                a>svg:hover {
                    transition: 0.3s;
                    fill: #a39898;
                }
            }
        }
    }
}